* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  min-height: 100vh;
  width: 100vw;
  background-color: #dadada;
}

.parent-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  height: 340px;
  width: 280px;
  border-radius: 30px;
  background-color: whitesmoke;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 20px; */
  flex-wrap: wrap;
}

.top {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid gray;
}

.top span {
  border: 0.3px solid gray;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.bookmark {
  height: 15px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.center h2 {
  font-size: 20px;
}

.company {
  display: flex;
  gap: 5px;
}

.company h3 {
  font-weight: 600;
}

.company span {
  font-size: 14px;
  font-weight: 200;
  margin-top: 5px;
  color: #9ca3af;
}

.tags {
  display: flex;
  gap: 10px;
}

.tags h4 {
  font-size: 12px;
  background-color: gainsboro;
  border-radius: 5px;
  padding: 4px 8px;
  border-radius: 5px;
  color: #111;
  font-weight: 500;
}

.bottom {
  border-top: 1px solid gainsboro;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom h2 {
  color: #1e1e1e;
}

.bottom h5 {
  color: grey;
  font-weight: 300;
}

.bottom button {
  padding: 8px 10px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 5px;
}