* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: victor mono;
    color: whitesmoke;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #1e1e1e;
}

#main{
    height: 30%;
    width: 100%;
    background-color: red;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    background-color: yellowgreen;
}